<%= simple_form_for :filter_organizations, url: filter_organizations_path do |f|%>
  <div class="top-organization">
    <h1><%= "Available organizations: " %></h1>
    <%= cl_image_tag current_user.photo.key, class:"rounded-circle photo-user" %>
  </div>
  
  <% @sub_categories.each do |sub_category| %>
    <h2 style="margin-left: 12px"><%= sub_category.name %></h2>
    <%= f.input :sub_categories,
                legend_tag: false,
                collection: sub_category.organizations,
                item_label_class: 'd-block',
                wrapper_html: { class: 'cards_category' },
                as: :check_boxes,
                include_hidden: false,
                input_html: { class: "d-none" },
                label_method: lambda { |organization| render 'shared/organization', organization: organization }
      %>
  <% end %>
  <div class="sticky d-flex justify-content-evenly">
    <%= link_to 'Back', filter_reset_path, data: {turbo_method: :post}, class: "submit-btn"%>
    <%= f.button :submit, 'Cart', class: "submit-btn"%>
  </div>
<% end %>