
<% if clickable %>

<div class="card-organization"  data-controller="click-button" data-action="click->click-button#highlightOrg"  >
  <%= cl_image_tag organization.photo.key, crop: :fill if organization.photo.attached? %>
  <h2><%=organization.name %></h2>
  <p><%= organization.description %></p>


   <input class="input_price" placeholder="amount" type="number" id="input-price" name="organizations[][price]"  hidden data-click-button-target="input_price" >
   <input name="organizations[][id]" value=<%=organization.id%> hidden>
   <input name="organizations[][status]" value=false data-click-button-target="status" hidden>
  </div>

<% else %>

<div class="card-organization mt-4 mb-3" >
  <%= cl_image_tag organization.photo.key, crop: :fill if organization.photo.attached? %>
  <h2><%=organization.name %></h2>
  <p><%= organization.description %></p>

  </div>

  <%end  %>
