<div class="top-organization">
    <h3><%= 'Here is all events that coming soon near of your address:' %></h3>
    <%= render "shared/user_photo" %>
</div>

<%# CARDS EVENTS %>

<% @events.each do |event| %>
    <div class="card-event">
        <%= cl_image_tag event.organization.photo.key %>
        <div class="event-bottom">
            <div id="event_<%= event.id %>" class="event-name-description">
                <div class="event-name-date">
                    <p style='margin: 0'><%= event.name %> - <%= event.organization.name %></p>
                    <p class="event-date"><iconify-icon icon="clarity:date-line"></iconify-icon><%=event.start_date %></p>
                </div>
                <div class="event-description">
                    <p><%= event.description %></p>
                </div>
            </div>
            <div class="event-footer">
                <div class="event-address"><iconify-icon icon="akar-icons:location"></iconify-icon><%= event.address %></div>
                <% if event.event_participants.where(user: current_user).empty? %> 
                    <%= link_to "Going", event_event_participants_path(event), data: {turbo_method: "post"}, class: 'submit-btn event-footer-button'%>
                <% else %>
                     <%= link_to "Not Going", event_participant_path(event.event_participants.find_by(user: current_user)), data: {turbo_method: "delete"}, class: 'submit-btn event-footer-button button-cancel' %>
                <% end %>
                <div class="event-participants"><iconify-icon icon="akar-icons:people-group"></iconify-icon><%= event.event_participants.count %></div>
            </div>
        </div>
    </div>
<% end %>
<%= render "shared/navbar" %>