<div class="container">
  <% content_for :meta_image, cl_image_path(@donation.orga_donas.first.organization.photo.key) %>


<div class="top-organization">
    <h1 class="welcome"><%= "Congratulations" %> <%= current_user.first_name %> <%="your donation has been confirmed"%> </h1>

    <%= render "shared/user_photo_payment" %>
  </div>

  <div>
    <% @donation.orga_donas.each do |orga| %>
      <%= render "shared/organization_show_payment", organization: orga.organization, clickable: false %>
      <% end %>
  </div>



<div class="sticky d-flex justify-content-between gap-3" data-controller="hide-button" data-action="scroll@window->hide-button#scrollDown">

 <%= link_to "Share your donations", "https://twitter.com/intent/tweet?url=#{request.url}", class: "submit-btn-payment mt-4" %>
</div>
</div>


 <%= render "shared/navbar" %>
