<div class="container">

  <div class="top-organization">
    <h1 class="welcome"><%= "You are almost there... " %><%= current_user.first_name %></h1>
    <%= render "shared/user_photo" %>
  </div>


  <div>
    <% @donation.orga_donas.each do |orga| %>
      <%= render "shared/organization_new_payment", organization: orga.organization, clickable: false %>
      <% end %>
  </div>


  <div class= "mt-4 ">
    <div class=" text_pay mb-5 text-center">
      <strong> This will only cost you <%= humanized_money_with_symbol @donation.amount * 0.25 %> after tax 😇 </strong></p>
    </div>


  </div>

<div class="sticky d-flex justify-content-around" data-controller="hide-button" data-action="scroll@window->hide-button#scrollDown">
  <%= link_to "Back", filter_path, class: "submit-btn"%>
      <button style="border:none" id="pay">Pay</button>
</div>
</div>



 <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @donation.checkout_session_id %>'
        });
      });
    </script>

<%= render "shared/navbar" %>
